h1{
    color: #ffaa00;
    font-style: oblique;
    font-size: 50px;
}

p {
    color: #f96c00;
    text-align:center;
    font-style: italic;
}

img{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#second{
    font-size: larger;
    color: green
}